.button {
    --button-font-color: var(--text-head);
    --button-font-hover-color: var(--primary);
    --button-background-color: var(--white);
    --button-background-hover-color: var(--light-text);
    --button-border-color: var(--text);
    --button-border-hover-color: var(--primary);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 176px;
    height: calc((var(--spacer) * 5));
    color: var(--button-font-color);
    background: var(--button-background-color);
    cursor: pointer;
    border-radius: var(--spacer);
    border: 1px solid var(--button-border-color);

    font-family: Roboto, sans-serif;
    font-size: calc((var(--spacer) * 1.75));
    font-style: normal;
    font-weight: 500;
    line-height: calc((var(--spacer) * 3));
    letter-spacing: 0em;
    text-align: center;

    &:hover {
        -webkit-transform: var(--scale-small);
        -ms-transform: var(--scale-small);
        transform: var(--scale-small);
    }

    &:active {
        color: var(--button-font-color);
        background: var(--button-background-color);
    }

    &--reviews {
        transition: var(--transition-3);
        padding: calc(var(--spacer)) calc(var(--spacer) * 4);

        &:hover {
            transform: none;
            background-color: darken(#f3f3f3, 3%);
        }

        &:active {
            transform: translate(1px, 1px);
            background-color: darken(#f9f9f9, 22%);
        }
    }

    &--fav-share {
        display: flex;
        align-items: center;
        column-gap: var(--spacer);
        transition: 0.2s;
        user-select: none;
        cursor: pointer;

        font-family: Roboto, sans-serif;
        font-size: calc((var(--spacer) * 1.5));
        font-style: normal;
        font-weight: 400;
        line-height: calc((var(--spacer) * 2.5));
        letter-spacing: 0.2px;
        text-align: left;

        &:active {
            transform: rotate(4deg);
        }
    }

    // &--top-left {
    //     background: var(--button-background-hover-color);
    //     color: var(--secondary-blue);
    //     min-width: 183px;
    // }

    // &--top-right {
    //     background: transparent;
    //     min-width: 177px;
    // }

    // &--process-left {
    //     width: 216px;
    //     @media screen and (max-width: 1024px) {
    //         width: 100%;
    //     }
    // }

    // &--process-right {
    //     width: 203px;
    //     background: var(--button-background-hover-color);
    //     color: var(--button-font-hover-color);
    //     border-color: var(--button-border-hover-color);

    //     &:hover {
    //         border-color: var(--secondary-blue);
    //     }
    // }

    // &--solution {
    //     width: 180px;

    //     @media screen and (max-width: 491px) {
    //         width: 100%;
    //         border-radius: 6px;
    //         height: 52px;
    //     }
    // }
}
