.header {
    box-shadow: 0px 20px 30px -10px #1f1f1f1a;
    margin-bottom: calc(var(--spacer) * 8);
    

    &__logo {
        cursor: pointer;
        transition: var(--transition-3);

        &:hover {
            transform: var(--scale-small);
        }

        &:active {
            transform: translate(1px, 1px);
        }
    }

    &__inner {
        background: url($path-image + "header-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 616px;
    }

    &__top-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: calc(var(--spacer) * 3) calc(var(--spacer) * 9);
    }

    &__bottom-menu {
        flex-direction: column;
    }

    &__bread-crumbs {
        .bread-crumbs-item {
            display: flex;
            column-gap: var(--spacer);
        }
    }
}

.header-menu {
    display: flex;
    column-gap: calc(var(--spacer) * 3);

    &__item {
        cursor: pointer;
        transition: var(--transition-3);

        &:hover {
            transform: var(--scale-small);
        }

        &:active {
            transform: translate(1px, 1px);
        }
    }
}

.header-roads {
    padding: calc(var(--spacer) * 3) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__action-block {
        display: flex;
        column-gap: calc(var(--spacer) * 3);
    }
}
