.may-also-like-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: calc(var(--spacer) * 12);

    &__title {
        margin-bottom: calc(var(--spacer) * 3);
    }

    &__info {
        max-width: calc(var(--spacer) * 100);
        margin-bottom: calc(var(--spacer) * 5);
    }
}
