.maps-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: calc(var(--spacer) * 8);
    position: relative;

    &__title {
        margin-bottom: calc(var(--spacer) * 3);
    }

    &__info {
        margin-bottom: calc(var(--spacer) * 6);
        max-width: calc(var(--spacer) * 72);
    }
}

.google-map {
    div {
        border-radius: 8px;
    }
}
