:root {
    --headline-color: var(--text-second);
    --sub-headling-color: var(--text);
    --paragraphe-desc-color: var(--text-third);
    --paragraphe-color: var(--text);
    --data-color: var(--text-paragraphe);
    --icons-text-color: var(--text-icon);
    --link-color: var(--text-second);

    --text-button-color: var(--text-second);
    --lineHeightMod: 8px;
}

.headline {
    font-family: Montserrat, sans-serif;
    font-size: calc(var(--spacer) * 5);
    font-style: normal;
    font-weight: 500;
    line-height: calc(var(--spacer) * 7 + var(--lineHeightMod));
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--headline-color);
}

.sub-headling {
    font-family: Montserrat, sans-serif;
    font-size: calc(var(--spacer) * 3);
    font-style: normal;
    font-weight: 500;
    line-height: calc(var(--spacer) * 4 + var(--lineHeightMod));
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--sub-headling-color);
}

.card-headling {
    font-family: Montserrat, sans-serif;
    font-size: calc(var(--spacer) * 2);
    font-style: normal;
    font-weight: 500;
    line-height: calc(var(--spacer) * 2 + var(--lineHeightMod));
    letter-spacing: 0em;
    text-align: left;
    color: var(--headline-color);
}

.links-headline {
    font-family: Montserrat, sans-serif;
    font-size: calc(var(--spacer) * 2.5);
    font-style: normal;
    font-weight: 600;
    line-height: calc(var(--spacer) * 3 + var(--lineHeightMod));
    letter-spacing: 0em;
    text-align: left;
    color: var(--headline-color);
}

.paragraph {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 1.75);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--spacer) * 2 + var(--lineHeightMod));
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--paragraphe-color);
}

.paragraph-title {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 1.75);
    font-style: normal;
    font-weight: 700;
    line-height: calc(var(--spacer) * 2 + var(--lineHeightMod));
    letter-spacing: 0.25px;
    text-align: left;
    color: var(--sub-headling-color);
}

.agreements-text {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 1.25);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--spacer) * 1 + var(--lineHeightMod));
    letter-spacing: 0.2px;
    text-align: left;
    text-decoration: underline;
    color: var(--paragraphe-color);
}

.data {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 1.5);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--spacer) * 1.5 + var(--lineHeightMod));
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--data-color);
}

.icons-text {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 1.5);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--spacer) * 1.5 + var(--lineHeightMod));
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--icons-text-color);
}

.paragraph-desc {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 1.75);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--spacer) * 2 + var(--lineHeightMod));
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--paragraphe-desc-color);
}

.more-info-text {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 1.75);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--spacer) * 2 + var(--lineHeightMod));
    letter-spacing: 0.2px;
    text-align: right;
    color: var(--blue);
}

.text-button {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 1.75);
    font-style: normal;
    font-weight: 500;
    line-height: calc(var(--spacer) * 3);
    letter-spacing: 0em;
    text-align: center;
    color: var(--text-button-color);
}

.text-nav {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 2);
    font-style: normal;
    font-weight: 500;
    line-height: calc(var(--spacer) * 3);
    letter-spacing: 0em;
    text-align: center;
    color: var(--paragraphe-color);
}

.likes-count {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 2.5);
    font-style: normal;
    font-weight: 300;
    line-height: calc(var(--spacer) * 3 + var(--lineHeightMod));
    letter-spacing: 0em;
    text-align: left;
    color: var(--headline-color);
}

.link {
    font-family: Roboto, sans-serif;
    font-size: calc(var(--spacer) * 1.75);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--spacer) * 2 + var(--lineHeightMod));
    letter-spacing: 0.2px;
    text-align: left;
    color: var(--link-color);

    &:hover {
        color: darken(#0468ff, 22%);
    }

    &:active {
        transform: var(--scale-small);
    }
}
