$path-image: "/assets/img/";

:root {
	--text: #434343;
	--text-second: #262626;
	--text-third: #1f1f1f;
	--text-paragraphe: #8c8c8c;
	--text-icon: #595959;
	--dark-red: #d4302a;

	--delimiter-gray: #d9d9d9;
	--blue: #0468ff;
	--white: #ffffff;
	--bg-gray: #f0f0f0;
	--scale-small: scale(1.05);
	--scale-medium: scale(1.1);
	--transition-3: 0.3s;

	--max-width: 1136px;
	--max-width-actual: calc(var(--max-width) + ((var(--spacer) * 9) * 2));

	// default
	--spacer: 8px;

	@media screen and (max-width: 995px) {
		--spacer: 6px;
	}

	@media screen and (max-width: 769px) {
		--spacer: 4px;
	}
}
