$path-image: "/assets/img/";
// $path-image-template: $path-image + 'template/';

:root {
	--text: #434343;
	--text-second: #262626;
	--text-third: #1F1F1F;
	--text-paragraphe: #8c8c8c;
	--text-icon: #595959;

	--delimiter-gray: #D9D9D9;
	--blue: #0468ff;
	--white: #ffffff;
	--bg-gray: #f0f0f0;
	--scale-small: scale(1.05);
	--transition-3: 0.3s;
	// --border-card: #DEDEDE;
	// --border-input: #D0D0D0;
	// --light-text: #FFFFFF;
	// --first-text: #000000
	// --secondary-blue: #112D57;
	// --secondary-light-blue: #03D6F3;
	// --primary: #30D7BA;

	--max-width: 1136px;
	--max-width-actual: calc(var(--max-width) + ((var(--spacer) * 9) * 2));

	// default
	--spacer: 8px;

	@media screen and (max-width: 794px) {
		--spacer: 6px;
	}
}
