@import "reset";
@import "fonts";
@import "variables";
@import "helpers";
@import "typography";
@import "components/all";

// @import "components/header";
// @import "components/footer";
// @import "components/bread-crumbs";
// @import "components/navigation";
// @import "components/button";
// @import "components/hotel";
// @import "components/reviews";
// @import "components/slider";
// @import "components/information";
// @import "components/maps";
// @import "components/liked-block";
// @import "components/like-card";
// @import "components/description-block";

* {
    box-sizing: border-box;

    &:before {
        box-sizing: border-box;
    }

    &:after {
        box-sizing: border-box;
    }

    &:focus {
        outline: none !important;
    }
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.lock {
    overflow: hidden;
}

